<section id="myskills" class="myskills-section">
  <div class="content-wrapper">
    <div class="myskills-wrapper">

      <!-- Linker Bereich mit Titel + Kasten -->
      <div class="skills-left-column">
        <h3 class="section-label">{{ 'SKILLS.CATEGORY' | translate }}</h3>

        <div class="skills-left">
          <h2 class="section-title">{{ 'SKILLS.TITLE' | translate }}</h2>

          <p class="section-subtitle">
            {{ 'SKILLS.DESCRIPTION.PART1' | translate }}<br><br>
            {{ 'SKILLS.DESCRIPTION.PART2' | translate }}
          </p>

          <div class="skill-request-box">
            <h3>{{ 'SKILLS.REQUEST.TITLE' | translate }} <span class="highlight-green">{{ 'SKILLS.REQUEST.HIGHLIGHT' |
                translate }}</span></h3>
            <p>{{ 'SKILLS.REQUEST.TEXT' | translate }}</p>
            <a class="ghost-button" href="#contact">
              <span>{{ 'SKILLS.REQUEST.BUTTON' | translate }}</span>
            </a>
          </div>
        </div>
      </div>


      <!-- Rechter Bereich mit Logos -->
      <div class="skills-right">
        <img src="skills/HTML.png" alt="HTML" />
        <img src="skills/17. Skill animation.png" alt="CSS" />
        <img src="skills/JavaScript.png" alt="JavaScript" />
        <img src="skills/Material Design.png" alt="Material Design" />
        <img src="skills/TypeScript.png" alt="TypeScript" />
        <img src="skills/Angular.png" alt="Angular" />
        <img src="skills/Firebase.png" alt="Firebase" />
        <img src="skills/GIT.png" alt="Git" />
        <img src="skills/Rest-Api.png" alt="REST-API" />
        <img src="skills/Scrum.png" alt="Scrum" />

        <div class="skill-image-wrapper">
          <img src="skills/18. Growth Mindset interaction.png" alt="Growth Mindset" class="base-image" />
          <img src="skills/Group 18.png" alt="Hint" class="hover-hint" />
        </div>
      </div>

    </div>
  </div>
</section>