@use 'variables' as vars;

:host {
  display: block;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 0.6) 84%);
  color: vars.$color-white;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  z-index: 998;

  a {
    font-family: vars.$font-code;
  }

  .header-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-left {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .language-toggle {
    position: relative;
    width: 80px;
    height: 30px;
    
    border: 1px solid vars.$color-accent;
    border-radius: 999px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    font-family: sans-serif;
  }

  .language-toggle .lang {
    z-index: 1;
    flex: 1;
    text-align: center;
    color: vars.$color-accent;
    font-weight: 600;
    transition: color 0.3s ease;
  }

  .language-toggle .toggle-slider {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    width: 48%;
    background-color: vars.$color-accent;
    border-radius: 999px;
    transition: left 0.3s ease;
    z-index: 0;
  }

  .language-toggle.active .toggle-slider {
    left: 50%;
  }

  .language-toggle.active .de {
    color: vars.$color-white;
  }

  .language-toggle:not(.active) .en {
    color: vars.$color-white;
  }

  button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 14px;
    background-color: black;
    color: vars.$color-accent;
    border: 1px solid vars.$color-accent;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;

    .icon {
      display: flex;
      align-items: center;

      svg {
        width: 16px;
        height: 16px;
        fill: currentColor;
        transition: fill 0.3s;
      }
    }

    &.active {
      background-color: vars.$color-accent;
      color: vars.$color-white;

      svg {
        fill: currentColor;
      }
    }
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;

    a {
      color: vars.$color-white;
      text-decoration: none;
      font-weight: 500;
      position: relative;
      padding: 0.3rem 0;
      transition: color 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -6px;
        transform: translateX(-50%);
        width: 6px;
        height: 6px;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color 0.3s ease;
      }

      &:hover::after {
        background-color: vars.$color-accent;
      }

      &.active {
        color: vars.$color-accent;
      }
    }
  }

  .burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1100;

    span {
      width: 25px;
      height: 3px;
      background-color: vars.$color-white;
      display: block;
      transition: all 0.3s ease;
      
    }
  }

  .mobile-nav {
    display: none;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 0.6) 84%);
    color: vars.$color-white;
    padding: 1rem 2rem;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    border-radius: 20px;

    a {
      color: vars.$color-white;
      text-decoration: none;
      padding: 1rem 0;
      border-bottom: 1px solid #444;
      font-weight: 500;
    }

    &.open {
      display: flex;
    }
  }

  @media (max-width: 768px) {
    .header-container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .nav-left {
      display: none;
    }

    .burger {
      display: flex;
    }

    .mobile-nav {
      display: none;

      &.open {
        display: flex;
      }
    }
  }
}

.language-toggle.mobile-toggle {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
