<header>
  <div class="header-container content-wrapper">
    <div class="nav-left">
      <div class="lang-switch">
        <button>EN</button>
        <button>DE</button>
      </div>
      <nav class="nav-links">
        <a href="#aboutme"
           [class.active]="currentSection === 'aboutme'"
           (click)="setCurrentSection('aboutme')">About me</a>
        <a href="#myskills"
           [class.active]="currentSection === 'myskills'"
           (click)="setCurrentSection('myskills')">Skills</a>
        <a href="#portfolio"
           [class.active]="currentSection === 'portfolio'"
           (click)="setCurrentSection('portfolio')">Projects</a>
      </nav>
    </div>

    <div class="logo"><img src="/header/Unbenannt.png" alt="Logo" /></div>
  </div>
</header>

