@use 'variables' as vars;

.portfolio-section {
  display: flex;
  flex-direction: column;
  color: vars.$color-white;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;

  .green {
    color: vars.$color-accent;
    font-size: 3rem;
    font-weight: bold;
    font-family: vars.$font-code;
  }

  .green-divider {
    height: 1px;
    background-color: vars.$color-accent;
    border: none;
    margin: 0;
  }

  .portfolio-header {
    h5 {
      color: vars.$color-accent;
      margin-bottom: 0.5rem;
      font-size: 20px;
      font-family: vars.$font-code;
    }

    .green {
      // h2 Überschrift
      font-size: 3rem;
      font-weight: bold;
      font-family: vars.$font-code;
    }

    p {
      max-width: 600px;
      color: vars.$color-white;
    }

    @media (max-width: 345px) {
      .green {
        font-size: 2rem; // kleiner bei kleinen Bildschirmen
      }
    }
  }

  .portfolio-content {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 50px;
    margin-bottom: 100px;

    .project-list {
      
      min-width: 900px;
      display: flex;
      flex-direction: column;

      .project-entry {
        cursor: pointer;
        padding: 30px;
        transition: background-color 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
          background-color: rgba(61, 207, 182, 0.2);
        }

        &.hovered .arrow {
          opacity: 1;
          color: vars.$color-accent;
        }

        .project-line {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
          flex-wrap: wrap;

          h3 {
            font-family: vars.$font-code;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0;

            .arrow {
              opacity: 0;
              transition: opacity 0.3s ease;
              color: vars.$color-white;
              font-size: 1.3rem;
              user-select: none;
              z-index: 999;
            }
          }

          .stack {
            margin: 0;
            color: vars.$color-white;
            font-family: vars.$font-body;
            white-space: nowrap;

            .stack-divider {
              color: vars.$color-accent;
              margin: 0 0.4rem;
            }
          }
        }

        // Ab 360px das project-line etwas kleiner
        @media (max-width: 360px) {
          .project-line {
            font-size: 0.85rem; // Schriftgröße etwas kleiner
          }

          .project-line h3 {
            font-size: 1.1rem;
          }

          .project-line h3 .arrow {
            font-size: 1rem;
          }

          
        }
      }

      @media (max-width: 1400px) {
        min-width: unset;
        width: 850px;
      }
      @media (max-width: 1350px) {
        min-width: unset;
        width: 750px;
      }
      @media (max-width: 1250px) {
        min-width: unset;
        width: 700px;
      }
      @media (max-width: 1200px) {
        min-width: unset;
        width: 600px;
      }


      @media (max-width: 600px) {
        .project-line {
          flex-direction: column;
          align-items: flex-start;
        }

        .stack {
          margin-top: 0.25rem;
        }
      }

      @media (max-width: 390px) {
        .stack {
          padding: 20px;
          font-size: 0.7rem;

          h3 {
            font-size: 1.1rem;

            .arrow {
              font-size: 1rem;
            }
          }

          .stack {
            font-size: 0.7rem;
          }
        }
      }

      @media (max-width: 345px) {
        .stack {
          padding: 20px;
          font-size: 0.5rem;

          h3 {
            font-size: 1.1rem;

            .arrow {
              font-size: 1rem;
            }
          }

          .stack {
            font-size: 0.6rem;
          }
        }
      }
    }

    .hover-image {
      position: sticky;
      top: 30px;
      margin-left: 4rem;
      width: 320px;
      flex-shrink: 0;
      position: relative;
      z-index: 5;

      &::before {
        content: '';
        position: absolute;
        bottom: 20px;
        right: -30px;
        width: 320px;
        height: 220px;
        background-image: url('../../../../public/about/bg_portfolio_section.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 0;
        pointer-events: none;
      }

      img {
        width: 100%;
        border-radius: 8px;
        display: block;
        position: relative;
        z-index: 1;
      }

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}
