<section id="portfolio" class="portfolio-section content-wrapper">
  <div class="portfolio-header">
    <h5>Portfolio</h5>
    <h2 class="green">Featured Projects</h2>
    <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
  </div>

  <div class="portfolio-content">
    <!-- Projektliste links -->
    <div class="project-list">
      <hr class="green-divider" />
      <ng-container *ngFor="let project of projects; let i = index; trackBy: trackByIndex">
        <div #projectEntry class="project-entry" (mouseenter)="hoveredProjectIndex = i"
          (mouseleave)="hoveredProjectIndex = null" (click)="openModal(i)">
          <h3>
            {{ project.title }}
            <span class="arrow">&nearr;</span>
          </h3>
          <p class="stack">{{ project.stack }}</p>
        </div>
        <hr *ngIf="i < projects.length - 1" class="green-divider" />
      </ng-container>
      <hr class="green-divider" />
    </div>

    <!-- Hover-Bild rechts außerhalb des Projektbereichs -->
    <div class="hover-image" *ngIf="hoveredProjectIndex !== null">
      <img [src]="projects[hoveredProjectIndex].image" [alt]="projects[hoveredProjectIndex].title" loading="lazy" />
    </div>
  </div>

  <!-- Modal Overlay -->
<app-modal
  *ngIf="selectedProjectIndex !== null"
  [project]="projects[selectedProjectIndex]"
  [projects]="projects"
  [currentIndex]="selectedProjectIndex"
  (changeProject)="selectedProjectIndex = $event"
  (close)="closeModal()"
/>

</section>