// === Farben ===
$color-white: #ffffff;
$color-dark: #1C1C1C;
$color-accent: #3DCFB6;
$color-gray-light: #ccc;


// === Schriftarten ===
$font-body: 'Karla', sans-serif;
$font-code: 'Fira Code', monospace;
$font-mono: monospace;
