<section id="legal-notice" class="legal-notice-section">
  <div class="content-wrapper">
    <h1 class="legal-title">{{ 'LEGAL.TITLE' | translate }}</h1>

    <p><strong>{{ 'LEGAL.INFO_TITLE' | translate }}</strong></p>
    <p>
      Marc Döhring<br>
      {{ 'LEGAL.CITY' | translate }}
    </p>

    <p><strong>{{ 'LEGAL.CONTACT_TITLE' | translate }}</strong></p>
    <p>
      {{ 'LEGAL.EMAIL' | translate }}: <a href="mailto:email&#64;beispiel.de">marc.doehring&#64;icloud.com</a><br>
      LinkedIn: <a href="https://linkedin.com/in/deinprofil" target="_blank" rel="noopener">linkedin.com</a><br>
      GitHub: <a href="https://github.com/Marc-Doehring" target="_blank" rel="noopener">github.com/Marc-Doehring</a>
    </p>

    <p><strong>{{ 'LEGAL.RESPONSIBLE_TITLE' | translate }}</strong></p>
    <p>
      Marc Döhring<br>
      {{ 'LEGAL.CITY' | translate }}
    </p>

    <p><strong>{{ 'LEGAL.DISCLAIMER_TITLE' | translate }}</strong></p>
    <p>{{ 'LEGAL.DISCLAIMER_TEXT' | translate }}</p>

    <p><strong>{{ 'LEGAL.LINKS_TITLE' | translate }}</strong></p>
    <p>{{ 'LEGAL.LINKS_TEXT' | translate }}</p>

    <p><strong>{{ 'LEGAL.COPYRIGHT_TITLE' | translate }}</strong></p>
    <p>{{ 'LEGAL.COPYRIGHT_TEXT' | translate }}</p>
  </div>
</section>
